.wrapper{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #c1c1c1;
  min-height: 100vh;
  width: 100%;
}

.header {
  padding-left:14vw;
  padding-right:14vw;
  background-color: darkslategrey;
}

.nav a {
  justify-content: space-around;
  flex-direction: row;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

.footer {
  background-color: darkslategrey;
  float: bottom;
  text-align: center;
}

.socials {
  background-color: darkslategrey;
  align-content: center;
}

.socials-img {
  height: 30px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  width: 70vw; 
  background-color:white;
}

.login-form{
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  padding: 5vh 5vh 2vh 5vh;
  background-color: #ddd;
  border: 1px solid grey;
  width: 300px;
  height:auto;
  border-radius: 15px;
}

.product-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin:auto;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  border-radius: 15px;
}

.product-list a{
  align-content: center;
  margin: 3vh;
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.product-img{
  display: flex;
  height: 300px;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
  border: 1px solid black;
}
@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 20%;
	}
}

.product {
	display: block;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 300px;
}

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.05);
}
.product p {
	position: relative;
	margin: 0;
	font-size: 15px;
	line-height: 1.4em;
	height: 5.6em;
	overflow: hidden;
}

.product p:after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 4.2em;
	height: 1.6em;
	background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}

.form-group{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.form-control{
  font-size: 20px;
  border-radius: 5px;
}

.btn{
  display: flex;
  background-color: #ddd;
  font-size: 15px;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  padding: 2%;
}
.btn-buy{
  display: flex;
  background-color: rgb(172, 174, 248);
  padding: 5px;
}
.btn:hover{
  background-color: #04AA6D;
  color: black;
}


